body{
    background-color: #641A35;
    background-image: url(images/melon.png);
    background-repeat: no-repeat;
    background-size: 20em;
    background-position: 80px 25.5em;
}

#bubble{
    background-image: url(images/bubbletext.png);
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: 150px 310px;
}

header{
    padding-top: 0.3em;
    position:absolute;
}
h1{
    font-family: Grandstander;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 3.6em;
    padding-left: 2em;
}

#one{
    margin-bottom: -0.8em;
}

#two{
    margin-bottom: -0.5em;
    font-size: 4.6em;
    font-weight: 600;
    color:#D6B600;
}

#three{
    padding-left: 3.9em;
}

label{
    font-family: Inconsolata;
    color:#FFFFFF;
    font-weight: 400;
    font-size: 22px;
}

input{
    border-radius: 18px;
    background-color: #380E1E;
    color:#D6B600;
    padding: 10px;
}

#ask4{
    display: flex;
    flex-direction: row;
    padding-top: 8em;
    padding-left: 45em;
    padding-right: 18em;
}

form{
    margin-top: 40px;
    margin-right: 40px;
}

#food, #adj1, #adj2, #noun1, #noun2, #name, #music, #verb{
    font-family: Inconsolata;
    padding:0.4em;
    margin-bottom:15px;
    font-size: 20px;
}


#sendIt{
    font-family: Inconsolata;
    margin-left: 40.5em;
    font-size: 21px;
    color: #FFFFFF;
}

