body{
    background-color: #641A35;
    background-image: url(images/melon.png);
    background-repeat: no-repeat;
    background-size: 29em;
    background-position: 29px 610px;
}

#bubble{
    background-image: url(images/bubbletext.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: 150px 490px;
}

header{
    padding-top: 2em;
    margin-right: -50;
    position:absolute;
}
h1{
    font-family: Grandstander;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 4.5em;
    padding-left: 2em;
}

#one{
    margin-bottom: -0.7em;
}

#two{
    margin-bottom: -0.5em;
    font-size: 5.5em;
    font-weight: 600;
    color:#D6B600;
}

#three{
    padding-left: 3.9em;
}

label{
    font-family: Inconsolata;
    color:#FFFFFF;
    font-weight: 400;
    font-size: 25px;
}

input{
    border-radius: 18px;
    background-color: #380E1E;
    color:#D6B600;
    padding: 10px;
}

form{
    display:flex;
    flex-direction: column;
    padding-top: 10em;
    padding-left: 49em;
    padding-right: 15em;
}

#food, #adj1, #adj2, #noun1, #noun2, #name, #music, #verb{
    font-family: Inconsolata;
    padding:0.3em;
    margin-bottom:20px;
    font-size: 20px;
}


#sendIt{
    font-family: Inconsolata;
    margin: 50px;
    font-size: 20px;
    color: #FFFFFF;
}

